<ion-header>
  <ion-toolbar>
    <ion-title>
      Fwg Car
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let car of cars">
    <ion-item>
      <ion-label>
        <h2>{{car.nome}}</h2>
      </ion-label>
      <p>{{car.preco}}</p>
    </ion-item>
  </ion-list>
</ion-content>
